page-about {
    .titulo{
        margin-right: 70px;
    }
    .dekk{
        width: 100px;
        height: 130px;
        border-radius: 10px;
    }
    .col{
        // border: 1px solid red;
        text-align: center;
    }
    .presentacion{
        text-align: left;
    }

    .slide1{
        background-image: url("../assets/img/lost-canvas.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slide2{
        background-image: url("../assets/img/lost-canvas.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slide3{
        background-image: url("../assets/img/lost-canvas.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

}
