page-todos {
    .titulo{
        margin-right: 50px;
    }
    .perfilimg{
        width: 70px;
        height: 70px;
        border-radius: 10px;
    }
    .text-nombre{
        margin-top: -1px;
    }
}
